//colors
$bg_light: #f2f3f4;
$text: #1E2222;
$text-light: #61666D;
$accent: #4ed421;

// type
$sans: 'Heebo';

// style
$shadow: 0 3px 6px rgba(0,0,0,0.2); 
$shadow_heavy: 0 3px 10px rgba(0,0,0,0.5);

// positioning
$max-width: 1280px;

// grid
$gap: 1rem;

// animation
$effect: ease-in-out;
$length: .5s;
